body {
    font-family: 'Segoe UI', Tahoma, Verdana, Geneva, Tahoma, sans-serif;
}

input, textarea {
    font-size: 18px;
    width: 200px;
}
input[type=submit] { 
    width: auto;

}
label {
    font-size: 15px;
}

/*div#theForm { 
    background-color: #808080;
}*/

#theForm {
    background-color: #808080;
}

  #theForm input[type=submit]{
    background-color: green;
    color: white
}

/*ul.product-props {
    font-size: small;
}*/

/*removes the bullets.*/
ul.product-props li {
    list-style-type: none;
}

/*"Divs are displayed in a type block that takes as much horizontal space as possible with as little vertical space as the contents will allow." */
.product-info {
   border: 1px solid grey;
   display: inline-block;
   padding: 8px 2px;
   margin: 2px;
   width: 450px;
   background-color: lightgrey;
   border-radius: 5px;
}

    .product-info img {
        margin: 3px;
        float: left;
        border: 1px solid black;
        max-width: 150px;
    }